Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'C:\Users\konom\Desktop\projects\coffeeReact\web_client\src\index.html' in 'C:\Users\konom\  Desktop\projects\coffeeReact'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\Users\konom\Desktop\projects\coffeeReact\web_client\src\index.html  ' in 'C:\Users\konom\Desktop\projects\coffeeReact'
  
  - Compilation.js:1668 factory.create
    [coffeeReact]/[webpack]/lib/Compilation.js:1668:28
  
  - NormalModuleFactory.js:712 hooks.factorize.callAsync
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:712:13
  
  
  - NormalModuleFactory.js:273 hooks.resolve.callAsync
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:273:22
  
  
  - NormalModuleFactory.js:402 err
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:402:22
  
  - NormalModuleFactory.js:117 err
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:117:11
  
  - NormalModuleFactory.js:628 resolveResource
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:628:24
  
  - NormalModuleFactory.js:782 _resolveResourceErrorHints
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:782:8
  
  - NormalModuleFactory.js:902 asyncLib.parallel
    [coffeeReact]/[webpack]/lib/NormalModuleFactory.js:902:5
  
  - child-compiler.js:169 childCompiler.runAsChild
    [coffeeReact]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:534 compile
    [coffeeReact]/[webpack]/lib/Compiler.js:534:11
  
  - Compiler.js:1087 hooks.afterCompile.callAsync.err
    [coffeeReact]/[webpack]/lib/Compiler.js:1087:17
  
  
  - next_tick.js:68 process._tickCallback
    internal/process/next_tick.js:68:7
  
</pre>